 <div class="user-details">
  <h1> Un poco de quien soy </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Lenguajes</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-r-original"></i>   
      <p>Por lo general, a la hora de resolver problemas con datos y visualizar resultados los dos lenguajes que considero mas utiles por su facilidad y gran documentación son Python y R.</p>
    </div>
    <div class="tech">
      <h2>BD</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <p>Muchas veces para el manejo de datos, crar tablas, unirlas y mas es mucho mas practico implementar algunas consultas en unas bases de datos.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-debian-plain colored"></i>
      <p>Como sistema operativo suelo utilizar una maquina virtual con Debian, ya que suele ser mas agil para ciertas instalaciones y actualizacones. Y obviamente git para el control de versiones.</p>
    </div>
</div>
